body {
    height: 1000px;
}

.col {
}

.record-index-green {
    border-left: 7px solid darkgreen ;
}

.record-index-grey {

    border-left: 7px solid lightgray;
}

.expense-row {

}

.edit-entry {
}

.main-container {
}

.setting-container {
    padding-top: 10px;
}

.toolbox {
    top: 70px;
    left: 5%;
    position: fixed;
}

.navbar-text {
}

#add-record:hover {
    background-color: lightgray;
}
